.login-page-content {

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.login-form-heading,
.login-form {
  margin-left: 25rem;
  margin-bottom: 2rem;
}

.login-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.input-text-form,
.btn-login {
  width: 80%;
}

.btn-guest {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #3B82F6;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
.btn-guest:hover {
  font-weight: bolder;
}

.btn-login {
  margin-top: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.link-signup {
  text-transform: uppercase;
  text-decoration: none;
  color: #3B82F6;
  font-weight: bold;
  margin-left: 0.5rem;
}
