.card-cart {
  margin: 1rem 2rem 1rem 4rem;
  width: 80%;
  min-height: 15rem;
}

.card-cart .btn-primary {
  border-radius: 50%;
}

.btn-remove {
  background-color: transparent;
}

.underline-animation {
  display: inline-block;
  position: relative;
  color: var(--primary-color);
}

.underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
