.product-details-page {
  margin: 2rem 10rem 2rem 4rem;
}

.product-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-productDetail {
  margin: 0;
  width: 100%;
  padding: 2rem 0;
}

.card-productDetail .card-header {
  width: 50%;
  margin-right: 5rem;
}

.card-productDetail .card-content {
  width: 50%;
}

.card-productDetail .card-title {
  font-size: var(--fontSizes-4xl);
  font-weight: bold;
}

.card-productDetail .card-price {
  font-weight: normal;
  font-size: var(--fontSizes-3xl);
}

.card-productDetail .btn-productDetail {
  min-width: 60%;
  padding: 1rem;
  justify-content: flex-start;
  font-size: var(--fontSizes-xl);
  text-transform: uppercase;
}

.product-info {
  margin-top: 2rem;
  display: flex;
  padding: 1rem;
  background-color: var(--default-color);
}

.product-description {
  width: 50%;
  margin-right: 4rem; 
}

.product-details {
  width: 50%;
}

.product-description p {
  margin-top: 1rem;
}

.product-details div {
  margin-top: 1rem;
}




